@import "./palette.pcss";

.recorder-controls {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    padding-right: 10px;
}
.start-stop-button {
    i {
        color: $colorRed;
        &:before {
            margin-top: 5px;
        }
    }
}
.status-message {
    color: $colorRed;;
    font-size: 12px;
}
