.steps-list {
    > div {
        border-bottom: 1px solid #e6e6e6;
        &:first-child {
            border-top: 1px solid #e6e6e6;
        }
        &:last-child {
            border-bottom-width: 0;
        }
    }
}
