doctype html

html
  head
    meta(charset='UTF-8')
    title JS Test Recorder (Popup)
    style.
      body { width: 500px; }

  body
    #something
    #root
    h2 Please use context menu for opening extension
